In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp

## Bilgileri kullanıcalacak 20 kullanıcı verilerinin okunması

In [30]:
df = pd.read_csv("books.csv").copy()
df

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,U1,2,4,,3,NaN,,1.0,1.0
1,U2,NaN,5,,,3.0,2,1.0,NaN
2,U3,3,,1,2,2.0,NaN,NaN,5.0
3,U4,NaN,3,NaN,NaN,4.0,1,NaN,3.0
4,U5,2,4,3,NaN,NaN,2,1.0,NaN
5,U6,5,4,NaN,3,1.0,NaN,3.0,1.0
6,U7,1,4,5,5,3.0,NaN,NaN,4.0
7,U8,2,2,NaN,NaN,4.0,5,1.0,NaN
8,U9,,NaN,4,2,1.0,NaN,NaN,5.0
9,U10,3,5,1,NaN,NaN,NaN,4.0,4.0
10,U11,2,,2,4,NaN,1,NaN,2.0
11,U12,5,4,NaN,2,NaN,1,1.0,3.0
12,U13,,,2,NaN,4.0,NaN,4.0,5.0
13,U14,,1,2,3,4.0,NaN,5.0,5.0
14,U15,NaN,3,NaN,NaN,5.0,3,NaN,2.0
15,U16,NaN,3,2,1,1.0,NaN,4.0,NaN
16,U17,1,5,1,2,NaN,4,NaN,4.0
17,U18,5,,4,NaN,2.0,1,3.0,5.0
18,U19,,3,NaN,2,NaN,4,1.0,4.0
19,U20,2,5,1,1,5.0,4,NaN,4.0

## Veri hakkında bilgi edinmesi

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20 non-null     object
 1   TRUE BELIEVER      16 non-null     object
 2   THE DA VINCI CODE  19 non-null     object
 3   THE WORLD IS FLAT  14 non-null     object
 4   MY LIFE SO FAR     13 non-null     object
 5   THE TAKING         13 non-null     float64
 6   THE KITE RUNNER    12 non-null     object
 7   RUNNY BABBIT       12 non-null     float64
 8   HARRY POTTER       16 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [32]:
df

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,U1,2,4,,3,NaN,,1.0,1.0
1,U2,NaN,5,,,3.0,2,1.0,NaN
2,U3,3,,1,2,2.0,NaN,NaN,5.0
3,U4,NaN,3,NaN,NaN,4.0,1,NaN,3.0
4,U5,2,4,3,NaN,NaN,2,1.0,NaN
5,U6,5,4,NaN,3,1.0,NaN,3.0,1.0
6,U7,1,4,5,5,3.0,NaN,NaN,4.0
7,U8,2,2,NaN,NaN,4.0,5,1.0,NaN
8,U9,,NaN,4,2,1.0,NaN,NaN,5.0
9,U10,3,5,1,NaN,NaN,NaN,4.0,4.0
10,U11,2,,2,4,NaN,1,NaN,2.0
11,U12,5,4,NaN,2,NaN,1,1.0,3.0
12,U13,,,2,NaN,4.0,NaN,4.0,5.0
13,U14,,1,2,3,4.0,NaN,5.0,5.0
14,U15,NaN,3,NaN,NaN,5.0,3,NaN,2.0
15,U16,NaN,3,2,1,1.0,NaN,4.0,NaN
16,U17,1,5,1,2,NaN,4,NaN,4.0
17,U18,5,,4,NaN,2.0,1,3.0,5.0
18,U19,,3,NaN,2,NaN,4,1.0,4.0
19,U20,2,5,1,1,5.0,4,NaN,4.0

## Null değerlerin Kontrolü

In [33]:
df.isnull().sum()

Unnamed: 0           0
TRUE BELIEVER        4
THE DA VINCI CODE    1
THE WORLD IS FLAT    6
MY LIFE SO FAR       7
THE TAKING           7
THE KITE RUNNER      8
RUNNY BABBIT         8
HARRY POTTER         4
dtype: int64

In [34]:
df.fillna(0)

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,U1,2,4,,3,0.0,,1.0,1.0
1,U2,0,5,,,3.0,2,1.0,0.0
2,U3,3,,1,2,2.0,0,0.0,5.0
3,U4,0,3,0,0,4.0,1,0.0,3.0
4,U5,2,4,3,0,0.0,2,1.0,0.0
5,U6,5,4,0,3,1.0,0,3.0,1.0
6,U7,1,4,5,5,3.0,0,0.0,4.0
7,U8,2,2,0,0,4.0,5,1.0,0.0
8,U9,,0,4,2,1.0,0,0.0,5.0
9,U10,3,5,1,0,0.0,0,4.0,4.0
10,U11,2,,2,4,0.0,1,0.0,2.0
11,U12,5,4,0,2,0.0,1,1.0,3.0
12,U13,,,2,0,4.0,0,4.0,5.0
13,U14,,1,2,3,4.0,0,5.0,5.0
14,U15,0,3,0,0,5.0,3,0.0,2.0
15,U16,0,3,2,1,1.0,0,4.0,0.0
16,U17,1,5,1,2,0.0,4,0.0,4.0
17,U18,5,,4,0,2.0,1,3.0,5.0
18,U19,,3,0,2,0.0,4,1.0,4.0
19,U20,2,5,1,1,5.0,4,0.0,4.0

## İndex'in okunabilirlik için kullancıcı isimleri olarak atanması

In [35]:
index = df.iloc[:,0]
index
df.index = index

In [36]:
df

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
Unnamed: 0,,,,,,,,,
U1,U1,2,4,,3,NaN,,1.0,1.0
U2,U2,NaN,5,,,3.0,2,1.0,NaN
U3,U3,3,,1,2,2.0,NaN,NaN,5.0
U4,U4,NaN,3,NaN,NaN,4.0,1,NaN,3.0
U5,U5,2,4,3,NaN,NaN,2,1.0,NaN
U6,U6,5,4,NaN,3,1.0,NaN,3.0,1.0
U7,U7,1,4,5,5,3.0,NaN,NaN,4.0
U8,U8,2,2,NaN,NaN,4.0,5,1.0,NaN
U9,U9,,NaN,4,2,1.0,NaN,NaN,5.0
U10,U10,3,5,1,NaN,NaN,NaN,4.0,4.0
U11,U11,2,,2,4,NaN,1,NaN,2.0
U12,U12,5,4,NaN,2,NaN,1,1.0,3.0
U13,U13,,,2,NaN,4.0,NaN,4.0,5.0
U14,U14,,1,2,3,4.0,NaN,5.0,5.0
U15,U15,NaN,3,NaN,NaN,5.0,3,NaN,2.0
U16,U16,NaN,3,2,1,1.0,NaN,4.0,NaN
U17,U17,1,5,1,2,NaN,4,NaN,4.0
U18,U18,5,,4,NaN,2.0,1,3.0,5.0
U19,U19,,3,NaN,2,NaN,4,1.0,4.0
U20,U20,2,5,1,1,5.0,4,NaN,4.0

## İndex isminin silinmesi ve fazlalık olan kullanıcılar kolonunun çıkarılması

In [37]:
df.index.name = None
del df["Unnamed: 0"]

In [38]:
df

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
U1,2,4,,3,NaN,,1.0,1.0
U2,NaN,5,,,3.0,2,1.0,NaN
U3,3,,1,2,2.0,NaN,NaN,5.0
U4,NaN,3,NaN,NaN,4.0,1,NaN,3.0
U5,2,4,3,NaN,NaN,2,1.0,NaN
U6,5,4,NaN,3,1.0,NaN,3.0,1.0
U7,1,4,5,5,3.0,NaN,NaN,4.0
U8,2,2,NaN,NaN,4.0,5,1.0,NaN
U9,,NaN,4,2,1.0,NaN,NaN,5.0
U10,3,5,1,NaN,NaN,NaN,4.0,4.0
U11,2,,2,4,NaN,1,NaN,2.0
U12,5,4,NaN,2,NaN,1,1.0,3.0
U13,,,2,NaN,4.0,NaN,4.0,5.0
U14,,1,2,3,4.0,NaN,5.0,5.0
U15,NaN,3,NaN,NaN,5.0,3,NaN,2.0
U16,NaN,3,2,1,1.0,NaN,4.0,NaN
U17,1,5,1,2,NaN,4,NaN,4.0
U18,5,,4,NaN,2.0,1,3.0,5.0
U19,,3,NaN,2,NaN,4,1.0,4.0
U20,2,5,1,1,5.0,4,NaN,4.0

## NaN değerlerin sıfır olarak atanamsı

In [39]:
df=df.fillna(0)
df

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
U1,2,4,,3,0.0,,1.0,1.0
U2,0,5,,,3.0,2,1.0,0.0
U3,3,,1,2,2.0,0,0.0,5.0
U4,0,3,0,0,4.0,1,0.0,3.0
U5,2,4,3,0,0.0,2,1.0,0.0
U6,5,4,0,3,1.0,0,3.0,1.0
U7,1,4,5,5,3.0,0,0.0,4.0
U8,2,2,0,0,4.0,5,1.0,0.0
U9,,0,4,2,1.0,0,0.0,5.0
U10,3,5,1,0,0.0,0,4.0,4.0
U11,2,,2,4,0.0,1,0.0,2.0
U12,5,4,0,2,0.0,1,1.0,3.0
U13,,,2,0,4.0,0,4.0,5.0
U14,,1,2,3,4.0,0,5.0,5.0
U15,0,3,0,0,5.0,3,0.0,2.0
U16,0,3,2,1,1.0,0,4.0,0.0
U17,1,5,1,2,0.0,4,0.0,4.0
U18,5,,4,0,2.0,1,3.0,5.0
U19,,3,0,2,0.0,4,1.0,4.0
U20,2,5,1,1,5.0,4,0.0,4.0

## Sıfır oalrak atanmayan ve string olan boşlukların NaN değerine dönüştürülüp ardından sıfır oalrak atanması

In [40]:
df = df.replace(r'^\s*$', np.NaN, regex=True)

In [41]:
df=df.fillna(0)

## Bütün veri tipinin işlemlerde küsürlü ifadeler oluşacağından float tipine çevrilmesi

In [42]:
df = df.astype(float)

In [15]:
df

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
U1,2.0,4.0,0.0,3.0,0.0,0.0,1.0,1.0
U2,0.0,5.0,0.0,0.0,3.0,2.0,1.0,0.0
U3,3.0,0.0,1.0,2.0,2.0,0.0,0.0,5.0
U4,0.0,3.0,0.0,0.0,4.0,1.0,0.0,3.0
U5,2.0,4.0,3.0,0.0,0.0,2.0,1.0,0.0
U6,5.0,4.0,0.0,3.0,1.0,0.0,3.0,1.0
U7,1.0,4.0,5.0,5.0,3.0,0.0,0.0,4.0
U8,2.0,2.0,0.0,0.0,4.0,5.0,1.0,0.0
U9,0.0,0.0,4.0,2.0,1.0,0.0,0.0,5.0
U10,3.0,5.0,1.0,0.0,0.0,0.0,4.0,4.0
U11,2.0,0.0,2.0,4.0,0.0,1.0,0.0,2.0
U12,5.0,4.0,0.0,2.0,0.0,1.0,1.0,3.0
U13,0.0,0.0,2.0,0.0,4.0,0.0,4.0,5.0
U14,0.0,1.0,2.0,3.0,4.0,0.0,5.0,5.0
U15,0.0,3.0,0.0,0.0,5.0,3.0,0.0,2.0
U16,0.0,3.0,2.0,1.0,1.0,0.0,4.0,0.0
U17,1.0,5.0,1.0,2.0,0.0,4.0,0.0,4.0
U18,5.0,0.0,4.0,0.0,2.0,1.0,3.0,5.0
U19,0.0,3.0,0.0,2.0,0.0,4.0,1.0,4.0
U20,2.0,5.0,1.0,1.0,5.0,4.0,0.0,4.0

In [43]:
df.loc["U1"]

TRUE BELIEVER        2.0
THE DA VINCI CODE    4.0
THE WORLD IS FLAT    0.0
MY LIFE SO FAR       3.0
THE TAKING           0.0
THE KITE RUNNER      0.0
RUNNY BABBIT         1.0
HARRY POTTER         1.0
Name: U1, dtype: float64

## Kitap tavsiye edilecek kullanıcıların verisinin okunması

In [44]:
df_ru = pd.read_csv("recommend_user.csv").copy()
df_ru

,Unnamed: 0,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
0,NU1,4.0,NaN,5.0,3.0,2.0,3.0,NaN,4.0
1,NU2,NaN,5.0,2.0,5.0,3.0,NaN,2.0,NaN
2,NU3,2.0,1.0,NaN,NaN,2.0,3.0,4.0,1.0
3,NU4,3.0,5.0,1.0,1.0,NaN,1.0,NaN,3.0
4,NU5,NaN,2.0,3.0,2.0,1.0,NaN,3.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Veri hakkında bilgi edinmesi

In [45]:
df_ru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5 non-null      object
 1   TRUE BELIEVER      3 non-null      float64
 2   THE DA VINCI CODE  4 non-null      float64
 3   THE WORLD IS FLAT  4 non-null      float64
 4   MY LIFE SO FAR     4 non-null      float64
 5   THE TAKING         4 non-null      float64
 6   THE KITE RUNNER    3 non-null      float64
 7   RUNNY BABBIT       3 non-null      float64
 8   HARRY POTTER       3 non-null      float64
dtypes: float64(8), object(1)
memory usage: 560.0+ bytes

## Bir önceki kullanıcı verisinden olduğu gibi index olarak hedef kullanıcıların atanması

In [46]:
index = df_ru.iloc[:,0]
index
df_ru.index = index

In [47]:
df_ru.index.name = None
del df_ru["Unnamed: 0"]

In [48]:
df_ru

,TRUE BELIEVER,THE DA VINCI CODE,THE WORLD IS FLAT,MY LIFE SO FAR,THE TAKING,THE KITE RUNNER,RUNNY BABBIT,HARRY POTTER
NU1,4.0,NaN,5.0,3.0,2.0,3.0,NaN,4.0
NU2,NaN,5.0,2.0,5.0,3.0,NaN,2.0,NaN
NU3,2.0,1.0,NaN,NaN,2.0,3.0,4.0,1.0
NU4,3.0,5.0,1.0,1.0,NaN,1.0,NaN,3.0
NU5,NaN,2.0,3.0,2.0,1.0,NaN,3.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## NaN değerlerin sıfır olarak atanması

In [49]:
df_ru = df_ru.fillna(0)

## Pearson coefficient değerlerinin hesaplanması için yazılan fonksiyon

In [50]:
import math

def pearson_co(a,b):
    x = df_ru.loc[a].copy()
    y = df.loc[b].copy()

    def cleaned_array(a):   
        total = 0
        b = 0
        for i in range(a.size):
            if(a[i] != 0):
                total = total + a[i]
                b = b + 1
        mean = total / b
    
        for i in range(a.size):
            if(a[i] != 0):
                a[i] = a[i] - mean
        return a


    def cal_deno(x):
        for i in range(x.size):
            x[i] = x[i] * x[i]
        return math.sqrt(sum(x))



    v = cleaned_array(x)
    w = cleaned_array(y)
    nominator =  sum(v*w)
    denominator = cal_deno(v)*cal_deno(w)
    result = round((nominator / denominator), 3)
    return result

## Her hedef kullanıcı için benzerliğine bakılacak olan 20 kullanıcının pearson coefficient değerlerinin bir arada hesabı

In [51]:
  r = []
def hesapla(x):
    r.clear()
    list=["U1","U2","U3","U4","U5","U6","U7","U8","U9","U10","U11","U12","U13","U14","U15","U16","U17","U18","U19","U20"]
    for i in list:
        r.append(pearson_co(x,i))
    return r.copy()

# Tavsiye Sisteminin yukarıdaki iki fonksiyonu da içeren fonksiyon olarak oluşturulması

In [52]:
def predict_book(x,k):
    
    book_list=['TRUE BELIEVER','THE DA VINCI CODE','THE WORLD IS FLAT','MY LIFE SO FAR','THE TAKING','THE KITE RUNNER','RUNNY BABBIT','HARRY POTTER']
    
    if (k == 1):
        
        t = hesapla(x)
        sim_user = t.index(max(t))+1
    
        
    
        array =  df_ru.loc[x]
    
        array2 = df.loc['U'+str(sim_user)]
        
    
        x = []
    
        
    
        for i in range(array.size):
            if(array[i] == 0):
                x.append(i)   
    
        y = []
        w = []
        for i in x:
            if(array2[i] == 0):
                print(book_list[i]+" için puanlama yapılamamaktadır.")
            else:
                b = w.copy()
                b.append(i)
                b.append(array2[i])
                y.append(b)
                w.clear()
                
        if (y):
            result1 = []
            for i in range(len(y)):
                result1.append(y[i][1])
            sonuc = result1.index(max(result1))
            print(book_list[y[sonuc][0]])
            print(y)

            
        print("User"+str(sim_user))
        x.clear()
        y.clear()
        
    elif(k==3):
        
        sim_user=[]
        t = hesapla(str(x))
        t1 = t.copy()
        t1.sort(reverse=True)
    
        for a in range(0,3):
            sim_user.append(t.index(t1[a])+1)
    
    
    
        array =  df_ru.loc[x]
    
    
        array1 = df.loc['U'+str(sim_user[0])]
        array2 = df.loc['U'+str(sim_user[1])]
        array3 = df.loc['U'+str(sim_user[2])]

    
        x = []
    
    
        for i in range(array.size):
            if(array[i] == 0):
                x.append(i)   
 
        y = []
        z = []
        for i in x:
            if(array1[i] == 0 and array2[i] == 0 and array3[i] == 0):
                print(book_list[i]+" için puanlama yapılamamaktadır.")
            
            elif(array1[i] != 0 and array2[i] != 0 and array3[i] != 0):
                a = z.copy()
                a.append(i)
                a.append(round((array1[i]*t1[0]+array2[i]*t1[1]+array3[i]*t1[2])/(t1[0]+t1[1]+t1[2]),3))
                y.append(a)
                z.clear()
            elif(array1[i] != 0 and array2[i] != 0 ):
                a = z.copy()
                a.append(i)
                a.append(round((array1[i]*t1[0]+array2[i]*t1[1])/(t1[0]+t1[1]),3))
                y.append(a)
                z.clear()
            elif(array1[i] !=0 and array3[i] != 0):
                a = z.copy()
                a.append(i)
                a.append(round((array1[i]*t1[0]+array3[i]*t1[2])/(t1[0]+t1[2]),3))
                y.append(a)
                z.clear()
            elif(array2[i] !=0 and array3[i] != 0):
                a = z.copy()
                a.append(i)
                print(array2[i])
                print(t1[1])
                print(t1[2])
                a.append(round((array2[i]*t1[1]+array3[i]*t1[2])/(t1[1]+t1[2]),3))
                y.append(a)
                z.clear()
            elif(array1[i] != 0):
                a = z.copy()
                a.append(i)
                a.append(array1[i])
                y.append(a)
                z.clear()
            elif(array2[i] != 0):
                a = z.copy()
                a.append(i)
                a.append(array2[i])
                y.append(a)
                z.clear()
            elif(array3[i] != 0):
                a = z.copy()
                a.append(i)
                a.append(array3[i])
                y.append(a)
                z.clear()
        
  
            
        if (y):
            print(y)
            result = []
            for i in range(len(y)):
                result.append(y[i][1])
            sonuc = result.index(max(result))
            print(book_list[y[sonuc][0]])
                
        print("User"+str(sim_user[0])," User"+str(sim_user[1])," User"+str(sim_user[2]))
        x.clear()
        y.clear()

## Predict fonksiyonunu çağırarak ilk parametre istenen hedef kullanıcı ismi (NU1, NU2 .. formatında ) ikinci parametre de k nın 1 veya 3 değeri verilerek hesaplanır

In [54]:
predict_book("NU5",3)

THE KITE RUNNER için puanlama yapılamamaktadır.
[[0, 5.0], [7, 3.603]]
TRUE BELIEVER
User9  User16  User6